<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>251519161181-s28dso5siur60shdfpmudlr71u9nn9be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251519161181-s28dso5siur60shdfpmudlr71u9nn9be</string>
	<key>API_KEY</key>
	<string>AIzaSyDrjWyymoL54KPwujmMQMf1dZ7Ui7aCMls</string>
	<key>GCM_SENDER_ID</key>
	<string>251519161181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zero2launch.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-fc544</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-fc544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:251519161181:ios:07fea6e989626983</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-fc544.firebaseio.com</string>
</dict>
</plist>